@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track{
    background-color: var(--cor04); 
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--cor01), var(--cor00), var(--cor01));
    border-radius: 5px;
}

body{
  flex-direction: column;
  font-family: 'Fredoka One', cursive;
  background-color: var(--cor06);
  text-align: center;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

:root{
  --cor00: #865C2C;
  --cor01: #2c1608;
  --cor02: rgba(0, 0, 0, 0.3);
  --cor03: #000000;
  --cor04: #ffffff;
  --cor05: #444444;
  --cor06: #181818;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
}

a:visited {
    color: var(--cor03);
}


  
/* Start-Nav */
  
.nav {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: var(--cor01);
  box-shadow: 0px 3px 10px var(--cor00);
  border-radius: 0px 0px 15px 15px;
  position: relative;
  margin-top: 0px;
}

.nav > .nav-header {
  display: inline;
}

.nav-title
{
  float: left;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: var(--cor04);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: center;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 40px 13px 10px;
  text-decoration: none;
  color: var(--cor00)
}

.nav > .nav-links > a:hover {
  background-color: var(--cor02);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:1222px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: var(--cor01);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid var(--cor04);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-image: url(../Images/menu\ img.png);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/* End-Nav */

/* start-main */

main{
  min-width: 300px;
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  background-color: var(--cor06);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}
main p{
  margin: 15px 0px;
  text-align: justify;
  text-indent: 2em;
  font-size: 1em;
  line-height: 1.5em;
}


/* End-Main */

/* card */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.card {
  display: flex;
  flex :100%;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 10px;
  border-radius: 12px;
  
 
}


.card_img  {
  height: 250px;
  width: 250px;
  padding: 4px;
  background: var(--cor00);
  border-radius: 50%;
}

.card_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--cor01)
}



.card_title {
  font-family: 'Fredoka One', cursive;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 26px;
  color: var(--cor04);
  padding-bottom: 20px;
}

.overlay{
  opacity: 0;
}

.overlay:hover{
  opacity: 1;
}

.card:hover{
  background-color: var(--cor01);
  
}

.card.description:hover{
  color: var(--cor04);
}
/* Start-Aside */

aside{
  font-family: var(--font-padrao);
  background-color: var(--cor05);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside h3{
  background-color: var(--cor04);
  color: var(--cor06);
  padding: 8px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

aside ul{
  list-style-type: '\2714\00A0';
  list-style-position: inside;
  columns: 2;
}

/* End-Aside */

article{
    font-family: var(--font-padrao);
    background-color: var(--cor05);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
  
}



