@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
  flex-direction: column;
  font-family: var(--font-Normal);
  background-image: url(/Era-uma-vez-uma-doenca/Assets/Images/Wallpaper3.jpg);
  text-align: center;
  align-items: center;
  margin-left: 0px;
  margin: 8px;
}


main{
  margin: auto;
  margin-bottom: 30px;
}

:root{
  --cor00: #865C2C;
  --cor01: #2c1608;
  --cor02: rgba(0, 0, 0, 0.3);
  --cor03: #000000;
  --cor04: #ffffff;
  --cor05: #444444;
  --cor06: #181818;
  --cor07: #1B0A06;
  --cor08: #3E3226;
  --font-Pirata: 'Pirata One', cursive;
  --font-Normal: 'Josefin Sans', sans-serif;
}

::-webkit-scrollbar{
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track{
    background-color: var(--cor08); 
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--cor01), var(--cor00), var(--cor01));
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }
  

  
.nav {
  height: 50px;
  padding-left: 10px;
  width: 100%;
  background-color: var(--cor07);
  box-shadow: 8px 10px 14px var(--cor03);
  border-radius: 0px 0px 15px 15px;
  position: relative;
  margin-top: -8px;
  margin-right: 10px;
}

.nav > .nav-header {
  display: inline;
}

.nav-title
{
  float: left;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: var(--cor04);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: center;
  font-size: 1.8em;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 25px 3px 10px;
  text-decoration: none;
  color: var(--cor08); 
  font-family: var(--font-Pirata); 
}

.nav > .nav-links > a:hover {
  background-color: var(--cor02);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:910px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: var(--cor07);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid var(--cor04);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-image: url(/Era-uma-vez-uma-doenca/Assets/Images/Wallpaper2.jpg);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

main{
  min-width: 300px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  background-image: url(/Era-uma-vez-uma-doenca/Assets/Images/Wallpaper5.jpg);
  background-size: contain;
  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}

main h1, h2{
  font-family: var(--font-Pirata);
  font-weight: normal;
}

main h1{
  color:var(--cor01);
  font-size: 6em;
  word-break: break-word;
}

main h2{
  font-size: 81px;
  color: var(--cor01);
}
main h3{
  font-size: 1.5em;
  text-align: left;
  color: var(--cor04);
}

main a{
  text-decoration: none;
  font-weight: bold;
  color: var(--cor04);
  padding: 2px 5px;
  
}

main a:hover{
  text-decoration: underline;
  color: var(--cor04);
}

main p{
  font-family: var(--font-Normal);
  color: var(--cor01);
  margin: 15px 0px;
  text-align: justify;
  text-indent: 2em;
  font-size: 1.8em;
  line-height: 1.5em;
}

aside li{
  color: var(--cor04);
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

td, th {
  border: 3px solid var(--cor03);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: var(--cor00);
}

tr:nth-child(odd) td {
  background-color: var(--cor01);
}

table.center{
  margin-left: auto;
  margin-right: auto;
}

.btn{
  float: left;
  
}
.button{
  font-family: var(--font-Rockwell-bold);
  background-color: var(--cor08);
  border-radius: 10px;
  border: 0;
  color: var(--cor03);
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.button:hover{
  background-color: var(--cor00);
  border-radius: 10px;
  border: dashed;
}


