@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    flex-direction: column;
    font-family: var(--font-Normal);
    background-color: #181818;
    text-align: center;
    align-items: center;
    margin-left: 0px;
    background-image: url(../Images/Wallpaper3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 8px;
}

:root{
  --cor00: #865C2C;
  --cor01: #2c1608;
  --cor02: rgba(0, 0, 0, 0.3);
  --cor03: #000000;
  --cor04: #ffffff;
  --cor05: #444444;
  --cor06: #181818;
  --cor07: #1B0A06;
  --cor08: #3E3226;
  --font-Pirata: 'Pirata One', cursive;
  --font-Normal: 'Josefin Sans', sans-serif;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
}
a:visited {
    color: var(--cor03);
  }


::-webkit-scrollbar{
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track{
  background-color: var(--cor08); 
    
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--cor01), var(--cor00));
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }
  
/*navbar*/
  
.nav {
  height: 50px;
  padding-left: 10px;
  width: 100%;
  background-color: var(--cor07);
  box-shadow: 8px 10px 14px var(--cor03);
  border-radius: 0px 0px 15px 15px;
  position: relative;
  margin-top: -8px;
  margin-right: 10px;
}

.nav > .nav-header {
  display: inline;
}

.nav-title
{
  float: left;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: var(--cor04);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: center;
  font-size: 1.8em;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 25px 3px 10px;
  text-decoration: none;
  color: var(--cor08); 
  font-family: var(--font-Pirata); 
}

.nav > .nav-links > a:hover {
  background-color: var(--cor02);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:910px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: var(--cor07);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid var(--cor04);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-image: url(/Era-uma-vez-uma-doenca/Assets/Images/Wallpaper2.jpg);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/*card*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.container {
    max-width: 70%;
    margin: 0 auto;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    margin: 5% 0;
}

.card {
    overflow: hidden;
    padding: 20px;
    background-color: var(--cor07);
    box-shadow: 8px 6px 16px var(--cor03);
    border-radius: 30px;
    text-align: center;
}


.card_img img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.card_body {
    padding: 26px 20px 36px 20px;
}

.card_title {
    font-family: var(--font-Pirata);
    font-weight: 900;
    text-transform: capitalize;
    color: var(--cor08);
    font-size: 45px;
    padding-bottom: 20px;
}

.card_body p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;

}

a.read_more {
    color: var(--cor08);
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 1.1px;
    font-family: var(--font-Pirata);
    background: var(--cor03);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 24px 0px;
    border-radius: 15px;
    display: inline-block;
    width: 50%;
    transition: all .3s ease-in-out;
}

a.read_more:hover {
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.15);
    background: var(--cor04);
}



@media only screen and (max-width: 1441px) and (min-width: 1025px) {
    .container {
        max-width: 80%;
    }

    .grid {
        gap: 2%;
    }

    .card {
        padding: 15px;
    }

    .card_body {
        padding: 15px;
    }

    .card_title {
        font-size: 22px;
        padding-bottom: 14px;
    }

    .card_body p {
        font-size: 16px;
    }

    a.read_more {
        padding: 19px 0;
        width: 60%;
        font-size: 11px;
        margin-top: 30px;
    }

}

@media only screen and (max-width: 1024px) {

    .grid {
        grid-template-columns: 2fr;
        gap: 2%;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        max-width: 90%;
    }

    .card {
        padding: 20px 10px;
    }

    .card_body {
        padding: 6px;
    }

    .card_title {
        font-size: 20px;
        padding-bottom: 7px;
    }

    .card_body p {
        font-size: 14px;
    }

    a.read_more {
        padding: 15px 0;
        margin-top: 20px;
        
    }
    
}