@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #181818;
    text-align: center;
    align-items: center;
    margin-left: 0px;
    padding: 10px;
}


h1{
    text-align: center;
}

::-webkit-scrollbar{
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-track{
    background-color: #ffffff;
    
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#38240c, #30240e);
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


/* NavBar */

.topnav {
    overflow: hidden;
    background-color: rgb(82, 58, 32);
    box-shadow: 0px 3px 10px #969696;
    border-radius: 10px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      color: #04AA6D;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }




/*

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: rgb(82, 58, 32);
    box-shadow: 0px 3px 10px #969696;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0F1616;
}

.login-button button:hover{
    background: #404040;
}


.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

search.input {
    position: absolute;
    
}*/ aquiii

/* */

/*Peste Negra ---------------------------------------------------------

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 300px;
    width: 250px;
    border-radius: 18px;
    left: 80px;
    overflow: hidden;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 9px;
    position: absolute;
    cursor: pointer;

}

.card::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(transparent, black);
    opacity: 0.6;
    transition: all 0.35s ease-in-out 0ms;

    border-radius: 18px;
    z-index: 1;

}

.card-img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;

    transition: trandform 250ms ease-in-out 0ms;
    
}

.card:hover::before{
    opacity: 0.8;
}

.card:hover .card-img{
    transform: scale(1.1);
}
h3{
    font-size: 24px;
    margin:  8px 0;
}

p,h3 {
    color: white;
    font-weight: bold;
    z-index: 2;
} */


/*
main.cards {
    display: flex;
    padding: 32px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    

}

img{
    height: 300px;
    width: 250px;
    border-radius: 18px;
    cursor: pointer;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;

}

main.cards section.card:first-child {
    margin-left: 0;
    
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
    
}

main.cards section.card img {
    width: 100%;   
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card p {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.peste.negra {
    box-shadow: 20px 20px 50px -20px #6632b9;
}

main.cards section.corona.virus {
    box-shadow: 20px 20px 50px -20px #6632b9;
}

@media screen and (max-width: 720px) {
    main.cards {
        flex-direction: column;
    }

    main.cards section.card {
        margin-left: 0;
        margin-bottom: 32px;
    }

    main.cards section.card:last-child {
        margin-bottom: 0;
    }

    main.cards section.card button {
        font-size: 70%;
    }

}

*/

/*End Peste Negra ----------------------------------------------------------*/

/* Corona Virus ---------------------------------------------------------

.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 300px;
    width: 250px;
    left: 20%;

    border-radius: 18px;
    overflow: hidden;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 9px;
    position: absolute;
    cursor: pointer;

}

.card2::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(transparent, black);
    opacity: 0.6;
    transition: all 0.35s ease-in-out 0ms;

    border-radius: 18px;
    z-index: 1;

}

.card2-img{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;

    transition: trandform 250ms ease-in-out 0ms;
    
}

.card2:hover::before{
    opacity: 0.8;
}

.card2:hover .card2-img{
    transform: scale(1.1);
}
h3{
    font-size: 24px;
    margin:  8px 0;
}

p,h3 {
    color: white;
    font-weight: bold;
    z-index: 2;
}

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.container {
    max-width: 70%;
    margin: 0 auto;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    margin: 5% 0;
}

.card {
    overflow: hidden;
    padding: 20px;
    background-color: rgb(82, 58, 32);
    box-shadow: 0px 3px 13px #969696;
    border-radius: 30px;
    text-align: center;
}


.card_img img {
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 3/2;
}

.card_body {
    padding: 26px 20px 36px 20px;
}

.card_title {
    font-family: 'Merriweather',
        serif;
    font-weight: 900;
    text-transform: capitalize;

    font-size: 26px;
    padding-bottom: 20px;
}

.card_body p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;

}

p.card_author {
    font-size: 15px;
    padding-top: 15px;

}

p.card_author a {
    color: #1B1C34;
    font-style: italic;
}

p.card_author a:hover {
    font-weight: bold;
}

a.read_more {
    color: #FFF;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 1.1px;
    background: #0F1616;
    margin-top: 50px;
    padding: 24px 0px;
    border-radius: 15px;
    display: inline-block;
    width: 70%;
    transition: all .3s ease-in-out;
}

a.read_more:hover {
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.15);
    background: #404040;
}



@media only screen and (max-width: 1441px) and (min-width: 1025px) {
    .container {
        max-width: 80%;
    }

    .grid {
        gap: 2%;
    }

    .card {
        padding: 15px;
    }

    .card_body {
        padding: 15px;
    }

    .card_title {
        font-size: 22px;
        padding-bottom: 14px;
    }

    .card_body p {
        font-size: 16px;
    }

    a.read_more {
        padding: 19px 0;
        width: 60%;
        font-size: 11px;
        margin-top: 30px;
    }

}

@media only screen and (max-width: 1024px) {

    .grid {
        grid-template-columns: 1fr;
        gap: 2%;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        max-width: 90%;
    }

    .card {
        padding: 20px 10px;
    }

    .card_body {
        padding: 7px;
    }

    .card_title {
        font-size: 20px;
        padding-bottom: 7px;
    }

    .card_body p {
        font-size: 14px;
    }

    a.read_more {
        padding: 15px 0;
        margin-top: 20px;
    }

}